.vignettes {
  white-space: nowrap;
}

.vignettes img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border: 1px solid red;
}

.grille {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

@media screen and (min-width: 1000px) {
  .grille {
    grid-template-columns: repeat(4, 50fr);
  }
}

.grille img {
  width: 100%;
  height: 40vh;
  object-fit: contain;
}
